<div class='flex-row flex-col-sm flex-hb color-bd-off-white color-bg-white pas'>
    <div class='flex-col flex hide-sm'>
        <div class='mat'>&nbsp;</div>
        <div class='mat'>Application Pool:</div>
        <div class='flex mat'>Professional Area:</div>
    </div>
    <div class='flex-col flex'>
        <div class='mat bold'>Egleston</div>
        <div class='mat'>SEAS Alumni</div>
        <div class='flex mat'>Science or Engineering</div>
    </div>
    <div class='flex-col flex pts-sm'>
        <div class='mat bold'>Johnson</div>
        <div class='mat'>SEAS Alumni</div>
        <div class='flex mat'>Beyond Engineering and Applied Science</div>
    </div>
    <div class='flex-col flex pts-sm'>
        <div class='mat bold'>Pupin</div>
        <div class='mat'>SEAS Alumni or University Affiliate</div>
        <div class='flex mat'>Science, Engineering, or Technology</div>
    </div>
</div>
