<div class='flex-row flex-col-sm flex-hb color-bd-off-white color-bg-white pas'>
    <div class='flex-col flex hide-sm'>
        <div class='mat'>&nbsp;</div>
        <div class='mat'>Application Pool:</div>
        <div class='mat'>Professional Area:</div>
        <div class='mat'>Area of Influence:</div>
        <div class='flex mat'>Types of Achievement:</div>
    </div>
    <div class='flex-col flex'>
        <div class='mat bold'>Egleston</div>
        <div class='mat'>Alumni of SEAS</div>
        <div class='mat'>Science or Engineering</div>
        <div class='mat'>Intradisciplinary</div>
        <div class='flex mat'>Technical Achievement, Leadership Achievement</div>
    </div>
    <div class='flex-col flex pts-sm'>
        <div class='mat bold'>Johnson</div>
        <div class='mat'>Alumni of SEAS</div>
        <div class='mat'>Non-Science or Non-Engineering</div>
        <div class='mat'>Intra- or Interdisciplinary</div>
        <div class='flex mat'>Professional Achievement, Leadership Achievement</div>
    </div>
    <div class='flex-col flex pts-sm'>
        <div class='mat bold'>Pupin</div>
        <div class='mat'>Affiliation with the University</div>
        <div class='mat'>Science or Engineering</div>
        <div class='mat'>Interdisciplinary</div>
        <div class='flex mat'>Technical Achievement</div>
    </div>    
</div>
