<div>
    <div class='max-width'>
        <div class='pam pas-sm flex-row flex-col-sm flex-vc flex-vt-sm'>
            <a class='flex' href='/'><img src='/assets/ceaa-logo.png' style='height: 2.8rem'/></a>
            <div class='flex-row flex-vc flex-hc-sm mts-sm full-width-sm grow'>
                <a href='/' class='h4 color-navy mrm'>About</a>
                <a href='/awards' class='h4 color-navy mrm'>Awards</a>
                <a href='/contact' class='h4 color-navy mrm'>Contact Us</a>
            </div>
            <div class='flex-row-sm flex-hc-sm mts-sm full-width-sm'>
                {% include social.html %}
            </div>
        </div>
    </div>
</div>
