<div class='flex-row grow'>
    <a href='https://www.instagram.com/{{ site.instagram_username }}' class='mrs' target='_blank'>
        <i class='fab fa-lg fa-instagram color-navy'></i>
    </a>
    <a href='https://www.facebook.com/{{ site.facebook_username }}' class='mrs' target='_blank'>
        <i class='fab fa-lg fa-facebook color-navy'></i>
    </a>
    <a href='https://www.twitter.com/{{ site.twitter_username }}' class='mrs' target='_blank'>
        <i class='fab fa-lg fa-twitter color-navy'></i>
    </a>
    <a href='https://www.linkedin.com/groups/{{ site.linkedin_group }}' class='mrs' target='_blank'>
        <i class='fab fa-lg fa-linkedin color-navy'></i>
    </a>
    <a href='https://www.flickr.com/photos/{{ site.flickr_username }}' target='_blank'>
        <i class='fab fa-lg fa-flickr color-navy'></i>
    </a>
</div>
